{%include 'admin_header.html'%}

<section id="hero" class="d-flex align-items-center" style="height: 1000px;   background: url('/static/assets/img/hero-img2.jpg'); background-size: cover; background-repeat: no-repeat;">
<table align="center" style="text-align: center; backdrop-filter: blur(10px); margin-top: -500px;">
    <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Date</th>
        <th>Status</th>
        <th>Appointment Type</th>
    </tr>
    {%for row in obj%}
    <tr>
        <td>{{row.user.first_name}} {{row.user.last_name}}</td>
        <td>{{row.details}}</td>
        <td>{{row.date}}</td>
        <td>{{row.status}}</td>
        <td>{{row.appointment_for.usertype}}</td>
        <td>
        <a href="/admin_make_appointment/{{row.user_id}}/{{row.appointment_for_id}}" class="btn btn-light">Make Appointment</a>
        </td>
        
    </tr>
    {%endfor%}
</table>

</section>
</div>

<style>
    th,
    td {
        padding: 15px;
    }

    th {
        color:rgb(255, 255, 255);
    }
    td{
        color: black;
    }
 
</style>

  

{%include 'footer.html'%}