{%include 'public_header.html'%}
<section id="hero">

      <div class="first-section">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/assets/img/hero-img3.jpg" height="700px" class="d-block w-100" alt="image1">
            </div>
            <div class="carousel-item">
              <img src="/static/assets/img/hero-img4.jpg"  height="700px"  class="d-block w-100" alt="image2">
            </div>
            <div class="carousel-item">
              <img src="/static/assets/img/hero-img7.jpg"   height="700px" class="d-block w-100" alt="image3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>




<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-in">We exist</h2>
      <p data-aos="fade-in">“Being able to be your true self is one of the strongest components of good mental health.”</p>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex" data-aos="fade-right">
        <div class="card">
          <div class="card-img">
            <img src="/static/assets/img/hero-img9.jpg" alt="image">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Not feeling like yourself lately?</a></h5>
            <p class="card-text">Not feeling like yourself lately? You’re not alone. <br> It’s something most people experience at some point. And there are simple things you can do that can help.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> </a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex" data-aos="fade-left">
        <div class="card">
          <div class="card-img">
            <img src="/static/assets/img/hero-img8.jpg"  alt="image">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Need help getting started?</a></h5>
            <p class="card-text">If you want some support for your mental health and wellbeing, but aren't exactly sure what that looks like, the Head to Health quiz can be a good starting point. Whether you want help with a specific issue you're facing, or are looking to improve your mood and wellbeing, the quiz can guide you to helpful services and resources.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i></a></div>
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex" data-aos="fade-right">
        <div class="card">
          <div class="card-img">
            <img src="/static/assets/img/hero-img5.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Live well</a></h5>
            <p class="card-text">Whether you want to feel happier, sleep better, feel calmer, or get support to live with a diagnosed condition, Head to Health can connect you with tools and services that can help.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex" data-aos="fade-left">
        <div class="card">
          <div class="card-img">
            <img src="/static/assets/img/hero-img6.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">Work with your GP</a></h5>
            <p class="card-text">Finding the right services for you can be hard. Head to Health is here to help you find and access services that meet your needs - including free and low-cost mental health services where appropriate.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> </a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{%include 'footer.html'%}