{%include 'user_header.html'%}

<section id="hero" class="d-flex align-items-center" style="height: 1000px;   background: url('/static/assets/img/hero-img2.jpg'); background-size: cover; background-repeat: no-repeat;">

    <table   align="center" style="text-align: center; backdrop-filter: blur(200px); margin-top: -500px;">
    <tr>
        <th>Appointment For</th>
        <th>Details</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    {%for row in obj%}
    <tr>
        <td>{{row.appointment_for.usertype}}</td>
        <td>{{row.details}}</td>
        <td>{{row.date}}</td>
        <td>{{row.status}}</td>
        <td>
            <a href="/user_view_test_result" class="btn btn-danger">Test Result</a>
        </td>
    </tr>
    {%endfor%}
</table>

</section>
<style>
    th,td{
        padding: 15px;
        color: black;
    }
    td{
        color: white;
        padding: 15px;
    }
   </style>
{%include 'footer.html'%}

